.filters {
    grid-row: 3;
    grid-column: 2;
	margin-left: 1.6%;
	float: left;
    margin-right: 50px;
    height: 100vh;
    margin-top: 10px;
}
.filters #price_max {float:right;}
.filters #slider-range {margin-top: 5px;}

#price_filter{
    width: 100%;
    font-size: medium;
}

/* Elementos de catalogo */
.catalog {
    grid-row: 3;
    grid-column: 3/6;
	display: grid;
    grid-gap: 1px;
    /*background: #bdbdbd;*/ 
    border-radius: 6px;
}
.catalog-1cols {
	grid-template-columns: 1fr;
}
.catalog-2cols {
	grid-template-columns: 1fr 1fr;
}
.catalog-3cols {
	grid-template-columns: 1fr 1fr 1fr;
}
.catalog-4cols {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.catalog-5cols {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.catalog .results {
    grid-row: 1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px 16px 6px;
    grid-column: 1/-1;
}

.catalog .catalog-article {
    border-radius: 0;
    padding: 16px;
}

.catalog .pagination {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 5px 10px;
    grid-column: 1/-1;
    text-align: center;
}

.catalog-article .title {
    font-size: 130%;
}

.catalog-article img {
	display: block;
	object-fit: contain;
    width: 82%;
    position: relative;
    left: 8%;
    aspect-ratio: 0.9;
}
.catalog-article > span {
	display: block;
}

.catalog-article .star_rating .score {
	font-size: large;
}


.catalog-article .likes,.catalog-article .price,.catalog-article span.reviews > span {display: unset !important;}
.catalog-article .likes {float: right;}
.catalog-article .likes::after {content:"♥"}

.catalog-article .price {
    font-weight: bold;
    font-size: x-large;
}
.catalog-article .price sup{
    position: relative;
    top: 2px;
    left: 1px;
}
.catalog-article .star_rating {
    margin: 12px 2px 2px;
}
.catalog-article svg.heart {
    float: right;
    margin-right: 4px;
}



/* List catalog */
.catalog-1cols .catalog-article {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    align-items: center;
}

.catalog-1cols .catalog-article > .data {
    margin-left: 2%;
}
.catalog-1cols .catalog-article .heart {
    margin-right: 20%
}